version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /app/venv
      - /app/__pycache__
      - /app/.pytest_cache
      - /app/.coverage
      - /app/htmlcov
      - /app/coverage.xml
    environment:
      - FLASK_ENV=testing
      - FLASK_DEBUG=1
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:postgres@db:5432/DobackSoft_test
      - CACHE_REDIS_URL=redis://redis:6379/0
    command: pytest
    depends_on:
      - db
      - redis

  db:
    image: postgres:14
    ports:
      - "5432:5432"
    volumes:
      - postgres_test_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=DobackSoft_test

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_test_data:/data

volumes:
  postgres_test_data:
  redis_test_data: 