global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'DobackSoft-api'
    static_configs:
      - targets: ['api:5000']
    metrics_path: '/metrics'

  - job_name: 'DobackSoft-celery'
    static_configs:
      - targets: ['celery:5000']
    metrics_path: '/metrics'

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090'] 